.fca_eoi_layout_4 {
	border: solid 1px transparent;
}
.fca_eoi_layout_4_headline_copy_wrapper,
.fca_eoi_layout_4_description_copy_wrapper,
.fca_eoi_layout_4_privacy_copy_wrapper,
.fca_eoi_layout_4_fatcatapps_link_wrapper{
	text-align: center;
}
.fca_eoi_layout_4_headline_copy_wrapper{
	line-height: 1.4 !important;
	margin: .5em !important; 
	padding: 0 !important;
}
.fca_eoi_layout_4_description_copy_wrapper,
.fca_eoi_layout_4_privacy_copy_wrapper {
	margin: 1em !important;
}
.fca_eoi_layout_4_inputs_wrapper {
	border-bottom: solid 1px rgba(0, 0, 0, .1);
	border-top: solid 1px rgba(0, 0, 0, .1);
	margin: 1em;
	padding: .5em 0;
}
.fca_eoi_layout_4_inputs_wrapper p {
	margin: .5em 0;
	padding: 0; 
}
.fca_eoi_layout_4_email_field_wrapper,
.fca_eoi_layout_4_name_field_wrapper {
	border: solid 1px transparent;
	border-radius: .5em;
	text-align: center;
	font-size: 1.5em;
}
.fca_eoi_layout_4_email_field_wrapper input,
.fca_eoi_layout_4_email_field_wrapper input:focus,
.fca_eoi_layout_4_name_field_wrapper input:focus,
.fca_eoi_layout_4_name_field_wrapper input {
	background: none !important;
	border: 0;
	box-shadow: none;
	display: inline-block;
	font-size: 16px;
	height: 3em;
	line-height: 2.5em;
	width: calc( 100% - 2.3em - 4% );
	padding: .5em 2%;
	margin: 0;
}
.fca_eoi_layout_4_email_field_wrapper .fa,
.fca_eoi_layout_4_name_field_wrapper .fa {
	width: 1.3em;
}
.fca_eoi_layout_4_submit_button_wrapper {
	text-align: center;
}
.fca_eoi_layout_4_submit_button_wrapper input{
	border: solid 0 transparent !important;
	border-bottom-width: 5px !important;
	border-radius: .75em;
	font-weight: bold;
	line-height: 1.7;
	margin: 0;
	min-height: 36px;
	padding: 1em 0;
	width: 100%;
        white-space: normal;
}
.fca_eoi_layout_4_submit_button_wrapper input,
.fca_eoi_layout_4_submit_button_wrapper input:hover {
	background: none;
	transition: all 0.2s ease;
}
.fca_eoi_layout_4_fatcatapps_link_wrapper{
	font-size: 12px;
}
.fca_eoi_layout_4_fatcatapps_link_wrapper a{
	text-decoration: none;
}
::-webkit-input-placeholder{color:inherit;opacity:.7}:-moz-placeholder{color:inherit;opacity:.7}::-moz-placeholder{color:inherit;opacity:.7}:-ms-input-placeholder{color:inherit;opacity:.7}
