@charset "utf-8";

#poststuff {
	opacity: 0;
}
#poststuff .inside {
    margin-top: 0;
    padding-right: 0;
}
div[id^="layouts_type_"] img {
	max-height: 150px;
	max-width: 150px;
}
.fca_eoi_layout {
	border: dashed 4px transparent;
	box-shadow: 0 0 1px lightgray inset;
	cursor: pointer;
	float: left;
	height: 180px;
	margin: 1em;
	padding: 1em;
	text-align: center;
	width: 150px;
}
.fca_eoi_layout.active {
	border-color: #98BEDE;
	box-shadow: none;
}
html[dir='rtl'] .fca_eoi_layout {
	float: right;
}
div[id^=fca_eoi_] fieldset.k legend {
	background: #333;
	border-radius: 5px;
	color: white;

}
div[id^=fca_eoi_] fieldset.k {
	border-color: black !important;
	margin-left: .5em;
	margin-right: .5em;
}
#fca_eoi_preview {
	float: left;
	margin: 1em auto;
	width: 60%;
}
#fca_eoi_preview input[type=submit]{
	cursor: pointer;
}
#fca_eoi_preview_form {
	margin: auto;
	padding: 1em;
}
#fca_eoi_preview_form[class^=fca_eoi_layout_] {
	max-width: 300px;
}
#fca_eoi_preview_form[class^=fca_eoi_postbox_] {
	max-width: 600px;
}
#fca_eoi_preview_form[class^=fca_eoi_lightbox_] {
	max-width: 650px;
}
html[dir=rtl] #fca_eoi_preview {
	float: right;
}
#fca_eoi_preview p,
#fca_eoi_preview h2,
#fca_eoi_preview h3,
#fca_eoi_preview h4 {
	margin: 1em 0;
	padding: 0;
}
#fca_eoi_settings {
	float: right;
	background: #F9F9F9;
	border: 1px solid #E2E2E2;
	padding-top: 1em;
	width: calc( 40% - 1em );
}
#fca_eoi_settings > h4 {
	background: #222;
	box-shadow: 0 0 1px #222;
	color: white;
	padding: .5em;
}
#fca_eoi_settings > h4:first-child {
	margin-top: 0;
}
#fca_eoi_settings .wp-editor-tools {
	background: white;
}
#fca_eoi_settings .wp-editor-container textarea.wp-editor-area {
	height: 200px;
}
#fca_eoi_preview input {
	border-style: solid;
	max-width: 100%;
}

.fca_eoi_highlighted {
	box-shadow:
		0 0 2px rgba( 0, 0, 0, .25 ) inset
		, 0 0 1px rgba( 0, 0, 0, .25 )
		, 0 0 1px rgba( 0, 0, 0, .25 )
		, 0 0 20px rgba( 0, 0, 0, .25 )
	;
}
/* Toggles */
.fca_eoi_toggle {
	border: solid 1px lightgray;
	border-radius: .125em;
	color: gray;
	margin: .125em;
	padding: 0 1em;
	transition: .1s all;	overflow: visible;
}
.fca_eoi_toggle.active {
	border-color: #00C;
	box-shadow: 
		0 0 .125em #00C inset
		, 0 0 .125em #00C inset
	;
	color: #00C;
}
.fca_eoi_toggle input{
	display: none;
}
.fca_eoi_and {
	font-weight: bold;
	margin: .5em 1em;
	text-transform: uppercase;
}
.fca_lightbox_condition input,
.fca_lightbox_condition select,
.fca_lightbox_condition .select2 {
	margin: 0 .25em;
}
.fca_lightbox_condition select:first-child {
	position: relative;
	bottom: 1px;
}
.fca_eoi_help {
	color: #666;
	font-size: 13px;
	font-style: italic;
	margin: .25em .35em;
}
/* Remove screen options */
#screen-options-link-wrap {
	display: none;
}
/* Hide toggle in some meta boxes */
#fca_eoi_meta_box_setup.postbox .hndle,
#fca_eoi_meta_box_setup.postbox .handlediv,
#submitdiv.postbox .hndle,
#submitdiv.postbox .handlediv {
	display: none;
}

/* Hide all unwanted post boxes */
.postbox {
	display: none;
}

#submitdiv,
#fca_eoi_meta_box_nav,
#fca_eoi_meta_box_setup {
	display: block;
}

#fca_eoi_meta_box_build {
	padding: 0;
	overflow: hidden;
}

#submitdiv {
	background: white;
	box-shadow: none;
	border: none;
}

#submitdiv > h3 {
	display: none;
}

#major-publishing-actions {
	background: #D4D4D4;
	border: none;
	box-shadow: 0 0 1px #666 inset;
}
html #publishing-action {
	text-align: left;
	float: left;
}
html[dir=rtl] #publishing-action {
	text-align: right;
	float: right;
}
#delete-action {
	display: none;
}

#fca_eoi_preview #wp-image-toolbar {
	display: none;
}

div[id^=layouts_type_] {
	border-top: solid 1px #DFDFDF;
}

fieldset[id^=fca_eoi_fieldset_form_][id$=_integration] {
	border: none;
}

fieldset[id^=fca_eoi_fieldset_form_][id$=_integration] legend {
	display: none;
}

/* TT */
a[id^="fca-eoi-tour-pointer-previous"] {
	float: left !important;
}

.fca_eoi_tour_pointer_style div.wp-pointer-arrow-inner {
	border-top-color: rgba(0, 0, 0, 0.25);
}

.CodeMirror {
	background: #f8f8f8;
	border: 1px solid #ddd;
	height: 200px !important;
}

.CodeMirror pre span {
	display: inline;
}
