.fca_eoi_layout_3 {
	border: solid 1px transparent;
	overflow-x: hidden;
	padding: 0 !important;
}
.fca_eoi_layout_3_wrapper_top {
	max-height: 114px;
	overflow: hidden;
}
.fca_eoi_layout_3 .fca_eoi_layout_3_wrapper_bottom {
	margin: auto;
	width: 85%;
}
.fca_eoi_layout_3 h3.fca_eoi_layout_3_headline_copy_wrapper {
	line-height: 1.2 !important;
	margin: 0 !important;
	padding: .5em !important;
	text-align: center;
}
.fca_eoi_layout_3_headline_copy_triangle {
	fill: transparent;
	margin-top: -1px;
	max-height: 100%;
	width: 100%;
}
.fca_eoi_layout_3_email_field_wrapper,
.fca_eoi_layout_3_name_field_wrapper {
	font-size: 1.3em;
	letter-spacing: -100px;
	margin-bottom: 20px !important;
	overflow: hidden;
	text-align: center;
}
.fca_eoi_layout_3_email_field_wrapper input,
.fca_eoi_layout_3_name_field_wrapper input {
	line-height: 1.4;
	margin: 0;
	padding: .5em;
	width: calc( 100% - 2em );
}
.fca_eoi_layout_3_email_field_wrapper input,
.fca_eoi_layout_3_name_field_wrapper input {
	@if $ltr {
		float: right;
	} @else {
		float: left;
	}
}
.fca_eoi_layout_3_email_field_wrapper .fa,
.fca_eoi_layout_3_name_field_wrapper .fa {
	line-height: 1.4;
	padding-top: .5em;
	@if $ltr {
		float: left;
	} @else {
		float: right;
	}
}
.fca_eoi_layout_3 input{
	border: solid 1px #999;
	border-radius: 3px;
}
.fca_eoi_layout_3_submit_button_wrapper {
	margin-bottom: 20px !important;
	text-align: center;
}
.fca_eoi_layout_3_submit_button_wrapper input {
	background: none;
	border-width: 1px 2px 3px;
	line-height: 1.7;
	white-space: normal;
	width: 100%;
}
.fca_eoi_layout_3_submit_button_wrapper input:hover {
	background: none;
}
.fca_eoi_layout_3_description_copy_wrapper,
.fca_eoi_layout_3_privacy_copy_wrapper {
	padding: 0 !important;
}
.fca_eoi_layout_3_description_copy_wrapper {
	font-size: 1.1em;
	margin-bottom: 20px !important;
	text-align: center;
}
.fca_eoi_layout_3_privacy_copy_wrapper {
	margin-bottom: 20px !important;
	text-align: center;
}
.fca_eoi_layout_3_fatcatapps_link_wrapper {
	font-size: 12px;
	margin-bottom: 20px !important;
	text-align: center;
}
::-webkit-input-placeholder{color:inherit;opacity:.7}:-moz-placeholder{color:inherit;opacity:.7}::-moz-placeholder{color:inherit;opacity:.7}:-ms-input-placeholder{color:inherit;opacity:.7}
